/* General Style */
a {
    text-decoration: none;
}

/* Adjusting the Navbar Brand for smaller screens */
.navbar-brand {
    font-size: 1.5rem;
}

/* Styling for the Navbar items */
.navbar-nav .nav-item .nav-link {
    font-weight: bold;
}

.hero-image {
    width: 800px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

/* Styling for Header */
header {
    border-bottom: 2px solid #ffffff;
}

.welcome {
    background-color: #0dcaf0;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
}

.welcome h1 {
    color: #fff;
    font-weight: bold;
}

.welcome p {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
}

/* Dashboard Section */
.dashboard {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard h2 {
    color: #0d6efd;
    font-size: 2rem;
}

.recent-projects h3, .statistics h3 {
    font-size: 1.5rem;
    color: #0dcaf0;
}

.recent-projects ul {
    list-style-type: none;
    padding: 0;
}

.recent-projects li {
    background-color: #e9ecef;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.statistics p {
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 5px;
}

/* About Section */
.about-us {
    background-color: #00bcd4;
    padding: 20px;
    border-radius: 8px;
    margin-top: 30px;
}

.about-us h2 {
    color: #fff;
    font-weight: bold;
}

.about-us p {
    color: #f8f9fa;
}

/* Footer Styling */
footer {
    border-top: 2px solid #ffffff;
}

footer p {
    font-size: 14px;
    text-align: center;
}

/* Scroll to Top Button */
#scroll-to-top {
    position: fixed;
    bottom: 50px;
    right: 10px;
    transform: translateX(-50%);
    font-size: 50px;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;
    display: none;
    cursor: pointer;
    z-index: 1000;
}

#scroll-to-top:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar-nav .nav-item {
        margin-top: 10px;
    }

    .navbar-brand {
        font-size: 1.2rem;
    }

    .hero-image {
        width: 100%;
        height: auto;
    }

    footer .container {
        flex-direction: column;
        text-align: center;
    }

    .welcome h1 {
        font-size: 1.5rem;
    }

    .welcome p {
        font-size: 1rem;
    }

    .about-us h2 {
        font-size: 1.5rem;
    }

    .about-us p {
        font-size: 1rem;
    }

    /* Dashboard Section */
    .dashboard h2 {
        font-size: 1.5rem;
    }

    .recent-projects h3, .statistics h3 {
        font-size: 1.2rem;
    }
}
